* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    height: 80px;
    padding: 5px 10%;
    margin-bottom: 30px;
}

@media (max-width: 500px) {
    .header {
        flex-direction: column;
        float: left;
        height: auto;
    }
}


.logo img {
    height: 60px;
    transition: all 0.5s;
}

.logo img:hover {
    transform: scale(1.2);
}

.links li {
    display: inline-block;
    padding: 20px;
    list-style: none;
}

.links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.3s;
}


.links li a:hover{
    color: rgb(10, 47, 255);
}

.formulario {
    margin: 10px;
    margin-bottom: 128px;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: black;
    height: 90px;
}

.footer h2{
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.footer div{
    display: flex;
}

.footer img{
    height:30px;
    margin: 0 auto;
}

.nosotros p{
    margin: 10px;
    justify-content: center;
    text-align: center;
}

.acerca {
    text-align: center;
}

.mapas {
    height: 350px;
    width: 625px;
}


.ubicacion p {
    margin: 20px;
    justify-content: center;
    
}